<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-green">新規登録</h1>
        <%= form_for @user do |f| %>
          <div class="form-group">
            <p><%= f.label :アカウント名, class: 'text-white' %></p>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <p><%= f.label :メールアドレス, class: 'text-white' %></p>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <p><%= f.label :アカウントURL, class: 'text-white' %></p>
            <%= f.text_field :account, class: 'form-control' %>
          </div>
          <div class="form_group">
            <p><%= f.label :パスワード, class: 'text-white' %></p>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form_group">
            <p><%= f.label :もう一度パスワードをお願いします, class: 'text-white password_confirmation' %></p>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <%= f.submit "登録", class: 'btn-block btn-green' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
